/* font-size */

html {
  font-size: 10px;
  /* font-size: 62.5%; */

  /* 100% - 16px
  62.55 - 10px */
}
.rem {
  border: 2px solid #000;
  font-size: 2rem;
  /* padding: 1rem; */
}
ul {
  font-size: 2em;
}

/* position */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 200vh;
  width: 100vw;
  padding: 2rem;
}
.parent-box {
  position: relative;
  width: 500px;
  height: 1000px;
  background-color: #272727;
  padding: 1rem;
}
.child-box-1 {
  /* position: static; */

  /* position: relative;
  top: 100px; */
  /* 50px from side  */
  /* right: 50px; 
  left: 60px; */

  /* relative to html  */
  /* position: absolute;
  left: 0;
  top: 100px; */

  /* relative to parent  */
  /* position: absolute;
  left: 0; */
  /* top: 100px; */

  /* position: fixed;  */

  width: 250px;
  height: 250px;
  background-color: #ff652f;
}
.child-box-2 {
  /* position: relative;
  z-index: 1; */

  position: sticky;
  top: 0;

  width: 250px;
  height: 250px;
  background-color: #14a76c;
}
