* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
header {
  display: flex;
  justify-content: space-around;
  font-size: 1.6rem;
}
.box {
  /* text-decoration: none; */
  display: flex;
  justify-content: space-between;
}
li {
  text-decoration: none;
  align-self: baseline;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}
.boxx {
  background-color: rgb(172, 211, 246);
  width: 100px;
  height: 200px;
  margin: 2rem;
  padding: 4px;
}
